/* Global styles */
.navbar{
    background-color: rgb(39, 39, 38);
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-evenly;
}



/* Logo */
.brand img{
    width: 60px;
    display: flex;
    align-items: center;
}



/* List container styles */
.products-container{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}
/* List styles */
.category-active{
    padding: 0 50px;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}.category-active:hover{
    background-color: rgb(77, 76, 74);
    cursor: pointer;
}



/* CartWidget styles */
.cartwidget {
    display: flex;
    align-items: center;
}.cartwidget:hover{
    cursor: pointer;
}
.cartwidget p{
    font-size: 18px;
    padding: 0 10px;
    color: white;
}