/* Global styles */
.navbar{
    background-color: rgb(245, 186, 77);
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-evenly;
}



/* Logo */
.brand img{
    width: 60px;
}



/* List container styles */
.products-container{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}
/* List styles */
.products-container li{
    padding: 0 50px;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}.products-container li:hover{
    background-color: rgb(235, 202, 142);
    cursor: pointer;
}



/* CartWidget styles */
.cartwidget {
    display: flex;
    align-items: center;
}.cartwidget:hover{
    cursor: pointer;
}
.cartwidget p{
    padding: 0 10px;
}